/***** theme customize *****/
[data-theme="dark"] {
    --main-color: #272b30;
    --seconde-color: #32383e;
    --color-text: #fff;
    --btn-main-color: #272729;
 }
 
 [data-theme="light"] {
    --main-color: #eeeeee;
    --seconde-color: #909396;
    --color-text: #000;
    --btn-main-color: #414550;
 }
 
 .main-btn {
    background-color: var(--btn-main-color);
    color: var(--color-text);
 }
 
 .main-btn:hover {
    background: linear-gradient(rgb(0 0 0 / 0.1), rgb(0 0 0 / 0.2));
 }
 
 .form-control,
 .form-control:focus {
    background-color: var(--main-color);
    color: var(--color-text);
    border-color: var(--seconde-color);
 }
 
 .form-control::placeholder {
    color: var(--color-text);
 }
 
 .badge-color {
    background-color: var(--seconde-color);
 }
 
 /***** End theme customize *****/
 
 /***** Global *****/
 @import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
 
 * {
    transition: background-color 0.5s, color 0.2s;
 }
 
 body {
    font-family: "Comfortaa", cursive;
    min-height: 100%;
    min-width: 100%;
    background-color:#25303d ;
    color: #fff;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: "Nerko One", cursive;
    color: var(--color-text) !important;
 }
 
 a,
 p,
 span {
    color: inherit !important;
 }
 
 ul {
    list-style-position: inside;
 }
 
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    display: none;
 }
 
 .login .login-area,
 .register .register-area {
    background-color: rgba(51, 58, 73, 0.637) !important;
    backdrop-filter: blur(5px);
 }
 
 .nav-bg {
    background-color: #30746c49;
 }
 
 .nav-item .nav-link.active,
 .nav-item .nav-link:hover {
    color: rgb(108, 218, 255) !important;
    transition: color 0.5s;
 }
 
 ::-webkit-scrollbar {
    width: 0.625rem;
 }
 
 ::-webkit-scrollbar-track {
    background-color: var(--seconde-color);
 }
 
 ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
 }
 /***** End Global *****/
 
 /***** Login *****/
 .login .image {
    background: url("images/login.jpg") center / cover no-repeat;
    min-height: 100%;

 }
 .login-area{
   box-shadow: rgb(90, 137, 151) 0px 13px 27px -5px, rgba(94, 166, 199, 0.911) 0px 8px 16px -8px !important;

 }
 .col-lg-5{
   box-shadow: rgb(70, 178, 197) 0px 13px 27px -5px, rgba(50, 195, 206, 0.637) 0px 8px 16px -8px;
 }
 /***** End Login *****/
 
 /***** Register *****/
 
 .register .image {
    background: url("images/register.jpg") center / cover no-repeat;
    min-height: 100%;
 }
 .register-area{
   box-shadow: rgb(90, 137, 151) 0px 13px 27px -5px, rgba(94, 166, 199, 0.911) 0px 8px 16px -8px !important;
 }
 /***** End Register *****/
 
 /***** Home *****/
 .home .card {
    filter: grayscale(0.7);
    transition: transform 0.5s, filter 0.5s 0.1s;
    color: #eeeeee;
 }
 
 .home .card:hover {
    transform: scale(1.05);
    filter: grayscale(0);
 }
 /***** End Home *****/
 
 /***** Details *****/
 .details {
    background-color: #272729be;
 
    backdrop-filter: blur(4px);
 }
 /***** End Details *****/
 
 /***** Loader *****/
 .loading {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .loader {
   transform: rotateZ(45deg);
   perspective: 1000px;
   border-radius: 50%;
   width: 70px;
   height: 70px;
   color: #fff;
   
 }
   .loader:before,
   .loader:after {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: inherit;
     height: inherit;
     border-radius: 50%;
     transform: rotateX(70deg);
     animation: 1s spin linear infinite;
   }
   .loader:after {
     color: #FF3D00;
     transform: rotateY(70deg);
     animation-delay: .4s;
   }

 @keyframes rotate {
   0% {
     transform: translate(-50%, -50%) rotateZ(0deg);
   }
   100% {
     transform: translate(-50%, -50%) rotateZ(360deg);
   }
 }

 @keyframes rotateccw {
   0% {
     transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
     transform: translate(-50%, -50%) rotate(-360deg);
   }
 }

 @keyframes spin {
   0%,
   100% {
     box-shadow: .2em 0px 0 0px currentcolor;
   }
   12% {
     box-shadow: .2em .2em 0 0 currentcolor;
   }
   25% {
     box-shadow: 0 .2em 0 0px currentcolor;
   }
   37% {
     box-shadow: -.2em .2em 0 0 currentcolor;
   }
   50% {
     box-shadow: -.2em 0 0 0 currentcolor;
   }
   62% {
     box-shadow: -.2em -.2em 0 0 currentcolor;
   }
   75% {
     box-shadow: 0px -.2em 0 0 currentcolor;
   }
   87% {
     box-shadow: .2em -.2em 0 0 currentcolor;
   }
 }
 .fa-regular, .far{
   display: none;
 }